[Unit]
# senti-logger-dev.service
Description=Senti Logger
Documentation=https://github.com/senti-iot/senti-logger/blob/master/README.md
# After=network.target

[Service]
WorkingDirectory=/srv/nodejs/senti/services/logger/development
ExecStart=/usr/bin/node server.js
Environment=NODE_PORT=3008
Environment=NODE_ENV=development
Type=simple
Restart=always
# RestartSec=1
StartLimitInterval=0
User=root
Group=root
# KillSignal=SIGQUIT

[Install]
WantedBy=basic.target
